body {
	background: url(http://subtlepatterns.com/patterns/sandpaper.png);
	font: 1em Arial;
}
.square {
	width: 60px;
	height: 60px;
	background: #333;
	margin: 0;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	color: red;
	text-align: center;
	line-height: 60px;
	position: absolute;
	animation: 	
		move 2s linear infinite,
		spin 2s ease infinite;
}

@keyframes move {
	0% {
		left: 0;
	}
	50% {
		left: calc(100vw - 60px);
	}
	100% {
		left: 0;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}