body {
	background: url(http://subtlepatterns.com/patterns/sandpaper.png);
	font: 1em Arial;
}
.square {
	width: 60px;
	height: 60px;
	background: #333;
	margin: 0;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	color: red;
	text-align: center;
	line-height: 60px;
	position: absolute;
}